[submodule "SpinLockUtil"]
	path = SpinLockUtil
	url = ../UtilDotnet.SpinLockUtil.git
[submodule "ShardedQueue"]
	path = ShardedQueue
	url = git@github.com:ivanivanyuk1993/UtilDotnet.ShardedQueue.git
[submodule "AsyncReadWriteLock"]
	path = AsyncReadWriteLock
	url = git@github.com:ivanivanyuk1993/UtilDotnet.AsyncReadWriteLock.git
[submodule "RunAtomicallyProvider"]
	path = RunAtomicallyProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.RunAtomicallyProvider.git
[submodule "AssertBenchmarkRelatedTestShouldNotRunInDebugProvider"]
	path = AssertBenchmarkRelatedTestShouldNotRunInDebugProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.AssertBenchmarkRelatedTestShouldNotRunInDebugProvider.git
[submodule "BenchmarkUtil"]
	path = BenchmarkUtil
	url = git@github.com:ivanivanyuk1993/UtilDotnet.BenchmarkUtil.git
[submodule "CountProvider"]
	path = CountProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.CountProvider.git
[submodule "RunWithoutGCProvider"]
	path = RunWithoutGCProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.RunWithoutGCProvider.git
[submodule "FairAsyncReadWriteLock"]
	path = FairAsyncReadWriteLock
	url = git@github.com:ivanivanyuk1993/UtilDotnet.FairAsyncReadWriteLock.git
[submodule "AssertTimeUtil"]
	path = AssertTimeUtil
	url = git@github.com:ivanivanyuk1993/UtilDotnet.AssertTimeUtil.git
[submodule "RunAfterProvider"]
	path = RunAfterProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.RunAfterProvider.git
[submodule "GetJsonDateProvider"]
	path = GetJsonDateProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.GetJsonDateProvider.git
[submodule "AsyncLazy"]
	path = AsyncLazy
	url = git@github.com:ivanivanyuk1993/UtilDotnet.AsyncLazy.git
[submodule "CliExitCodeProvider"]
	path = CliExitCodeProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.CliExitCodeProvider.git
[submodule "CockroachDbMigrationUtil"]
	path = CockroachDbMigrationUtil
	url = git@github.com:ivanivanyuk1993/UtilDotnet.CockroachDbMigrationUtil.git
[submodule "ComparisonUtil"]
	path = ComparisonUtil
	url = git@github.com:ivanivanyuk1993/UtilDotnet.ComparisonUtil.git
[submodule "ConcurrentLinkedList"]
	path = ConcurrentLinkedList
	url = git@github.com:ivanivanyuk1993/UtilDotnet.ConcurrentLinkedList.git
[submodule "ConvertObjectToFlatDictionaryProvider"]
	path = ConvertObjectToFlatDictionaryProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.ConvertObjectToFlatDictionaryProvider.git
[submodule "CopyDirectoryAsyncProvider"]
	path = CopyDirectoryAsyncProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.CopyDirectoryAsyncProvider.git
[submodule "RunIfFirstCallProvider"]
	path = RunIfFirstCallProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.RunIfFirstCallProvider.git
[submodule "CountingCancellationToken"]
	path = CountingCancellationToken
	url = git@github.com:ivanivanyuk1993/UtilDotnet.CountingCancellationToken.git
[submodule "DisposeOnceSyncOrAsyncProvider"]
	path = DisposeOnceSyncOrAsyncProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.DisposeOnceSyncOrAsyncProvider.git
[submodule "CrudProto"]
	path = CrudProto
	url = git@github.com:ivanivanyuk1993/UtilDotnet.CrudProto.git
[submodule "DoEnumerablesOverlapProvider"]
	path = DoEnumerablesOverlapProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.DoEnumerablesOverlapProvider.git
[submodule "ValueWithTimestamp"]
	path = ValueWithTimestamp
	url = git@github.com:ivanivanyuk1993/UtilDotnet.ValueWithTimestamp.git
[submodule "DownloadCliUtil"]
	path = DownloadCliUtil
	url = git@github.com:ivanivanyuk1993/UtilDotnet.DownloadCliUtil.git
[submodule "EventLoopGroupScheduler"]
	path = EventLoopGroupScheduler
	url = git@github.com:ivanivanyuk1993/UtilDotnet.EventLoopGroupScheduler.git
[submodule "ExecuteCliCommandAsyncProvider"]
	path = ExecuteCliCommandAsyncProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.ExecuteCliCommandAsyncProvider.git
[submodule "ExpressionUtil"]
	path = ExpressionUtil
	url = git@github.com:ivanivanyuk1993/UtilDotnet.ExpressionUtil.git
[submodule "FilterUtil"]
	path = FilterUtil
	url = git@github.com:ivanivanyuk1993/UtilDotnet.FilterUtil.git
[submodule "GetCallerFilePathProvider"]
	path = GetCallerFilePathProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.GetCallerFilePathProvider.git
[submodule "GetDebouncedBufferProvider"]
	path = GetDebouncedBufferProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.GetDebouncedBufferProvider.git
[submodule "GetLikeMatcherProvider"]
	path = GetLikeMatcherProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.GetLikeMatcherProvider.git
[submodule "GetUniqueIdAsyncProvider"]
	path = GetUniqueIdAsyncProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.GetUniqueIdAsyncProvider.git
[submodule "GetUniqueInLocalScopeUintAsyncProvider"]
	path = GetUniqueInLocalScopeUintAsyncProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.GetUniqueInLocalScopeUintAsyncProvider.git
[submodule "IsNumberProvider"]
	path = IsNumberProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.IsNumberProvider.git
[submodule "ComputeLevenshteinProvider"]
	path = ComputeLevenshteinProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.ComputeLevenshteinProvider.git
[submodule "ComputeLongestCommonSubsequenceLengthProvider"]
	path = ComputeLongestCommonSubsequenceLengthProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.ComputeLongestCommonSubsequenceLengthProvider.git
[submodule "ValueOrError"]
	path = ValueOrError
	url = git@github.com:ivanivanyuk1993/UtilDotnet.ValueOrError.git
[submodule "MoveIndexListInListProvider"]
	path = MoveIndexListInListProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.MoveIndexListInListProvider.git
[submodule "ReplaceTemplateVariablesProvider"]
	path = ReplaceTemplateVariablesProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.ReplaceTemplateVariablesProvider.git
[submodule "MakeConfigurationFilesFromTemplatesProvider"]
	path = MakeConfigurationFilesFromTemplatesProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.MakeConfigurationFilesFromTemplatesProvider.git
[submodule "PerfectlyBalancedTree"]
	path = PerfectlyBalancedTree
	url = git@github.com:ivanivanyuk1993/UtilDotnet.PerfectlyBalancedTree.git
[submodule "GetValueObservableProvider"]
	path = GetValueObservableProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.GetValueObservableProvider.git
[submodule "ReactiveValueProvider"]
	path = ReactiveValueProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.ReactiveValueProvider.git
[submodule "TakeUntilNotifier"]
	path = TakeUntilNotifier
	url = git@github.com:ivanivanyuk1993/UtilDotnet.TakeUntilNotifier.git
[submodule "RunTaskWithImmediateReturnOnCancelProvider"]
	path = RunTaskWithImmediateReturnOnCancelProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.RunTaskWithImmediateReturnOnCancelProvider.git
[submodule "RunWithOriginalIfSequentialCallOrCloneIfConcurrentCallProvider"]
	path = RunWithOriginalIfSequentialCallOrCloneIfConcurrentCallProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.RunWithOriginalIfSequentialCallOrCloneIfConcurrentCallProvider.git
[submodule "StartTaskOrAttachToRunningProvider"]
	path = StartTaskOrAttachToRunningProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.StartTaskOrAttachToRunningProvider.git
[submodule "RunCliTaskProvider"]
	path = RunCliTaskProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.RunCliTaskProvider.git
[submodule "todo"]
	path = todo
	url = git@github.com:ivanivanyuk1993/UtilDotnet.todo.git
[submodule "RestrictedGitSubmoduleCliUtil"]
	path = RestrictedGitSubmoduleCliUtil
	url = git@github.com:ivanivanyuk1993/UtilDotnet.RestrictedGitSubmoduleCliUtil.git
[submodule "NormalizeLineBreaksProvider"]
	path = NormalizeLineBreaksProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.NormalizeLineBreaksProvider.git
