[submodule "SpinLockUtil"]
	path = SpinLockUtil
	url = git@github.com:ivanivanyuk1993/UtilDotnet.SpinLockUtil.git
[submodule "ShardedQueue"]
	path = ShardedQueue
	url = git@github.com:ivanivanyuk1993/UtilDotnet.ShardedQueue.git
[submodule "AsyncReadWriteLock"]
	path = AsyncReadWriteLock
	url = git@github.com:ivanivanyuk1993/UtilDotnet.AsyncReadWriteLock.git
[submodule "RunAtomicallyProvider"]
	path = RunAtomicallyProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.RunAtomicallyProvider.git
[submodule "AssertBenchmarkRelatedTestShouldNotRunInDebugProvider"]
	path = AssertBenchmarkRelatedTestShouldNotRunInDebugProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.AssertBenchmarkRelatedTestShouldNotRunInDebugProvider.git
[submodule "BenchmarkUtil"]
	path = BenchmarkUtil
	url = git@github.com:ivanivanyuk1993/UtilDotnet.BenchmarkUtil.git
[submodule "CountProvider"]
	path = CountProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.CountProvider.git
[submodule "RunWithoutGCProvider"]
	path = RunWithoutGCProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.RunWithoutGCProvider.git
[submodule "FairAsyncReadWriteLock"]
	path = FairAsyncReadWriteLock
	url = git@github.com:ivanivanyuk1993/UtilDotnet.FairAsyncReadWriteLock.git
[submodule "AssertTimeUtil"]
	path = AssertTimeUtil
	url = git@github.com:ivanivanyuk1993/UtilDotnet.AssertTimeUtil.git
[submodule "RunAfterProvider"]
	path = RunAfterProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.RunAfterProvider.git
[submodule "GetJsonDateProvider"]
	path = GetJsonDateProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.GetJsonDateProvider.git
[submodule "AsyncLazy"]
	path = AsyncLazy
	url = git@github.com:ivanivanyuk1993/UtilDotnet.AsyncLazy.git
[submodule "CliExitCodeProvider"]
	path = CliExitCodeProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.CliExitCodeProvider.git
[submodule "CockroachDbMigrationUtil"]
	path = CockroachDbMigrationUtil
	url = git@github.com:ivanivanyuk1993/UtilDotnet.CockroachDbMigrationUtil.git
[submodule "ComparisonUtil"]
	path = ComparisonUtil
	url = git@github.com:ivanivanyuk1993/UtilDotnet.ComparisonUtil.git
[submodule "ConcurrentLinkedList"]
	path = ConcurrentLinkedList
	url = git@github.com:ivanivanyuk1993/UtilDotnet.ConcurrentLinkedList.git
[submodule "ConvertObjectToFlatDictionaryProvider"]
	path = ConvertObjectToFlatDictionaryProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.ConvertObjectToFlatDictionaryProvider.git
[submodule "CopyDirectoryAsyncProvider"]
	path = CopyDirectoryAsyncProvider
	url = git@github.com:ivanivanyuk1993/UtilDotnet.CopyDirectoryAsyncProvider.git
